$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background: rgba(0, 0, 0, 0.4);
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    text-align: center;
    background: #2ecc71;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }

    .btn {
        line-height: 26px;

        & a {            
            color: #fff;
        }
    }
}

/* Custom page footer */

.container-narrow > hr {
    margin: 5px 0;
}

/* Main marketing message and sign up button */
// .jumbotron {
//     text-align: center;
//     border-bottom: 1px solid #e5e5e5;
// }

/* Supporting marketing content */

.main-fadein {
    width:100%;
    top:0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10px;

// to get this to stay centered in a page 
// I need to have a parent div fixed and a child relative with margin auto auto
    .main-view {
        position: relative;
        width: 500px;
        height: 750px;
        top: 150px;
        margin: auto auto;
        background: #fff;
        overflow: hidden;
        box-shadow: 0px 0px 50px #fff;

        .main-movie-thumbnail {
            height: 750px;
            width: 500px;
        }

        .main-infotainer {
            position: absolute;
            color: #fff;
            background: rgba(0, 0, 0, 0.7);
            height: 100%;
            padding-left: 10px;
            width: 100%;

            .main-movie-title {
                text-align: center;
                width: 100%;
            }
            .close-modal {
                position: absolute;
                top: 0px;
                right: 0px;
                margin: 10px;
                background: rgba(0, 0, 0, 0.4);
                border-radius: 50px;

                &:hover {
                    background: rgba(0, 0, 0, 1);
                }
                a {
                    color: #fff

                }
            }
            .main-year {
                margin-top: 30px;
                display: block;
                width: 98%;
                margin-bottom: 10px;

            }
            .main-rated {
                display: block;
                width: 98%;
                margin-bottom: 10px;

            }
            .main-runtime{
                display: block;
                width: 98%;
                margin-bottom: 10px;

            }
            .main-score-aud {
                display: block;
                margin-bottom: 10px;

            }
            .main-score-rot {
                display: block;
                margin-bottom: 10px;

            }

            .critictainer {
                background: rgba(88, 88, 88, 0.6);
                width: 96%;
                position: absolute;
                bottom: 10px;
                text-align: center;
                height: 500px;
                padding: 5px;
                overflow-y: scroll;

                .main-synopsis {
                    font-size: 12px;
                    padding: 5px;
                    text-align: justify;
                    position: relative;
                    height: auto;
                    margin-bottom: 15px;
                }

                .main-critics {
                    padding: 5px;
                    font-size: 12px;
                    position: relative;
                    text-align: justify;
                    bottom: 0px;
                    margin-bottom: 10px
                }
            }
        }
    }
}

.marketing {

    position: relative;
    width: 100%;
    height: 1000px;
    margin-top: 15px;

    .movie-list {
        text-align: center;

        .movie-unit {
            display: inline-block;
            .movie-item {
                margin: 10px;
                position: relative;
                display: inline-block;
                background: #eeeeee;
                height: 250px;
                width: 180px;

                &:hover {
                    box-shadow: 0px 0px 20px #c0392b;
                }

                .movie-score-rot {
                    position: absolute;
                    top: -20px;
                    right: -20px;
                    color: #fff;
                    border-radius: 40px;
                    height:40px;
                    width: 40px;
                    line-height: 40px;
                    background: rgba(0, 0, 0, 0.7);
                }

                .movie-thumbnail {
                    height: 250px;
                    width: 180px;
                }
            }
        }
    }
}

.footer {
    position: relative;
    background: #E74C3C;
    color: #fff;
    height: auto;

    p {
        margin: 0;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
